= render layout: "layouts/mailer_layout" do
  %h1 Passwort ändern

  %p
    == Hallo #{@resource.name},
    %br
    du hast diese eMail angefordert, weil du dein Passwort ändern möchtest.
    Klicke bitte auf folgenden Link, um dein Passwort zu ändern

  %p= link_to 'Passwort ändern', edit_password_url(@resource, reset_password_token: @token)

  %p
    Falls du diese eMail nicht angefordert hast, dann kannst du sie einfach ignorieren.
    Dein Passwort wird dann nicht geändert.
