- title 'Benutzerkonto erstellen'
- hide_social_media_buttons

= render partial: 'form'

-# - content_for :footer do
-#   %footer.page-copyright.page-copyright-inverse
-#     %p WEBSITE BY amazingSurge
-#     %p © 2017. All RIGHT RESERVED.
-#     .social
-#       %a.btn.btn-icon.btn-pure{:href => "javascript:void(0)"}
-#         %i.icon.bd-twitter{"aria-hidden" => "true"}
-#       %a.btn.btn-icon.btn-pure{:href => "javascript:void(0)"}
-#         %i.icon.bd-facebook{"aria-hidden" => "true"}
-#       %a.btn.btn-icon.btn-pure{:href => "javascript:void(0)"}
-#         %i.icon.bd-google-plus{"aria-hidden" => "true"}
