- if can? :create, Bike
  .alert.alert-info
    = link_to 'Motorrad anlegen', [:new, current_user, :bike], class: "btn btn-success pull-right btn-lg"
    %h4 Hier kannst du Motorr채der anlegen.
    %p
      Du kannst hier dein Motorrad anlegen oder auch alle Motorr채der,
      die du mal gefahren hast oder alle Motorr채der von denen du tr채umst.
