- unless user_signed_in?
  .advertise.modal.hide.fade
    .modal-header
      %button.close{"type" => "button", "data-dismiss" => "modal", "aria-hidden" => "true"} ×
      %h3 Motorradfreunde.com

    .modal-body
      %p
        %strong Motorradfreunde.com
        ermöglicht es dir, mit anderen Bikern in Verbindung zu treten und Inhalte rund ums Thema Motorrad mit diesen zu teilen.

      %ul.list
        %li Triff dich mit anderen Bikern
        %li Folge den Aktivitäten anderer Biker
        %li
          Schreibe Artikel über deine
          %strong Motorraderlebnisse
        %li
          Erlebe die
          %strong Motorrad-Community
          online
      %strong.for_free Das alles ist kostenlos für dich!

    - if request.referrer.to_s.include?("facebook") or cookies[:facebook_user]
      .modal-footer
        .fb-facepile{ data: {"href" => "http://www.motorradfreunde.com", "max-rows" => "1", "width" => "500"}}

    .modal-footer
      .btns
        - unless request.referrer.to_s.include?("facebook") or cookies[:facebook_user]
          = link_to "Benutzerkonto erstellen", new_user_registration_path, :class => "btn btn-large btn-success sign_up"
          %span oder
        = link_to user_facebook_omniauth_authorize_path, :class => "sign_in btn btn-large btn-primary facebook" do
          %i.icon-facebook-sign
          Facebook Login
