.scripts
  = javascript_include_tag "//www.youtube.com/player_api?enablejsapi=1"
  = javascript_include_tag "//maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyBppMtlADcZGifajODVTAafrxJrG8hxKuY"
  = javascript_include_tag "application"

  = yield :scripts
