- if true or activity.complete?
  = render layout: "layouts/activity", object: activity, locals: { activity_title: "hat einen Termin angelegt" } do
    = render partial: "events/event", object: activity.trackable
