- unless content[content_field.field_id].blank?
  %dt
    %abbr{ title: content_field.field_id }= content_field.name
  %dd
    .row
      - if content_field.has_one?
        - if video = content.send(content_field.field_id)
          = render video
      - else
        - content.send(content_field.field_id).each do |video|
          - if video
            = render video
