= render layout: "layouts/activity", object: activity, locals: { activity_title: "hat einen Beitrag im Forum geschrieben" } do
  %strong= link_to activity.trackable, [:forum, activity.trackable]
  %p= activity.trackable.body
