= render layout: "layouts/activity", object: activity, locals: { activity_title: "hat einen Beitrag im Forum aktualisiert" } do
  %strong= link_to activity.trackable, activity.trackable
  %p= activity.trackable.body
