- user = section_followings

- if friends = user.friends.sort_by(&:name) and friends.present?
  .page-header
    %h2  Er/Sie folgt
  = render partial: "users/user", collection: friends, locals: {wrapper_class: "col-xs-4 col-md-3", disable_ads: true}
