%hr
.d-flex.justify-content-center
  = link_to user_facebook_omniauth_authorize_path, :id => 'sign_in', :class => "sign_in btn btn-large btn-primary facebook" do
    = icon 'facebook'
    Facebook Login
%hr
