.form-group
  = form.label form_field.field_id, form_field.name, class: "control-label col-sm-2"
  .col-sm-10
    = form.text_area form_field.field_id, class: "form-control", placeholder: form_field.name, rows: 5
