%script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
/ Sidebar - oben - responsive
%ins.adsbygoogle{"data-ad-client" => "ca-pub-1632903114074454", "data-ad-format" => "auto", "data-ad-slot" => "5698247548", :style => "display:block"}
:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});
