- meta_title "Motorrad anlegen"
- title "Motorrad anlegen"

- content_for :hint do
  Hier kannst du Motorräder anlegen, die du bereits gefahren hast, besitzt oder in die du dich einfach verliebt hast.
  %br
  Bilder können nach dem Speichern hinzugefügt werden.

= render partial: "form", object: @bike
