#help
  %h2 Wie funktioniert Motorradfreunde.com?

  %p.help_dashboard.help
    %em Pinnwand
    – hier siehst Du alle Aktivitäten von Bikern denen Du folgst. Du solltest möglichst vielen Bikern in Deiner Nähe folgen, damit Dir nichts entgeht.

  %p.help_followers.help
    %em Verfolger
    – sind Biker die Deine Aktivitäten verfolgen. Diese bekommen mit, wenn Du z.Bsp. Motorrad fahren willst oder wenn Du an einem Motorradtermin teilnimmst.
  .clear

  %p.help_joyrides.help
    %em Motorrad fahren
    – Biker in Deiner Nähe und Deine Verfolger werden benachrichtigt, wann und wo Du Motorrad fahren willst. Du wartest einfach am Treffpunkt.

  %p.help_greetings.help
    %em Bikergruß
    – Biker sind freundlich und grüßen sich, gehe dazu einfach auf ein Bikerprofil und klicke auf "Bikergruß senden".
  .clear

  %p.help_events.help
    %em Deine Termine
    – hier findest Du Termine in Deiner Nähe und Termine von Bikern denen Du folgst.
    Du kannst auch selbst Termine anlegen, dann bekommen alle Deine Verfolger eine Nachricht darüber.

  %p.help_comments.help
    %em Kommentare
    – Du kannst einfach auf das Profil eines Bikers gehen und ihm eine Nachricht an dessen Pinnwand hinterlassen.
  .clear

  %p.help_photos.help
    %em Fotos
    – Biker sind neugierig, lade möglichst viele Fotos von Dir, Deinem Motorrad oder von Deinen Touren hoch.

  %p.help_messages.help
    %em Nachrichten
    – Mit dieser Funktion kannst Du anderen Bikern private Nachrichten senden.
  .clear

  %p.help_infos.help
    %em Info
    – Hier findest Du genauere Informationen zu einem Biker. z.Bsp. wie viel er Motorrad fährt, wo er wohnt, usw.

  %p.help_settings.help
    %em Einstellungen
    – Hier kannst Du alle Einstellungen zu Deinem Benutzerkonto vornehmen. Vervollständige Dein Benutzerkonto, damit andere Biker sich ein besseres Bild von Dir machen können.
  .clear
