.page-header
  %h1
    Hilfe
    %small Häufig gestellte Fragen

%dl
  %dt
    %h2 Was mache ich mit meiner Pinnwand?
  %dd
    Hier siehst Du alle Aktivitäten von Bikern denen Du folgst. Du solltest möglichst vielen Bikern in Deiner Nähe folgen, damit Dir nichts entgeht.


  %dt
    %h2 Was sind Verfolger?
  %dd
    Das sind Biker die Deine Aktivitäten verfolgen. Diese bekommen mit, wenn Du z.Bsp. Motorrad fahren willst oder wenn Du an einem Motorradtermin teilnimmst.


  %dt
    %h2 Motorrad fahren
  %dd
    Biker in Deiner Nähe und Deine Verfolger werden benachrichtigt, wann und wo Du Motorrad fahren willst. Du wartest einfach am Treffpunkt.


  %dt
    %h2 Bikergruß
  %dd
    Biker sind freundlich und grüßen sich, gehe dazu einfach auf ein Bikerprofil und klicke auf "Bikergruß senden".


  %dt
    %h2 Deine Termine
  %dd
    hier findest Du Termine in Deiner Nähe und Termine von Bikern denen Du folgst.
    Du kannst auch selbst Termine anlegen, dann bekommen alle Deine Verfolger eine Nachricht darüber.


  %dt
    %h2 Kommentare
  %dd
    Du kannst einfach auf das Profil eines Bikers gehen und ihm eine Nachricht an dessen Pinnwand hinterlassen.


  %dt
    %h2 Fotos
  %dd
    Biker sind neugierig, lade möglichst viele Fotos von Dir, Deinem Motorrad oder von Deinen Touren hoch.


  %dt
    %h2 Nachrichten
  %dd
    Mit dieser Funktion kannst Du anderen Bikern private Nachrichten senden.


  %dt
    %h2 Info
  %dd
    Hier findest Du genauere Informationen zu einem Biker. z.Bsp. wie viel er Motorrad fährt, wo er wohnt, usw.


  %dt
    %h2 Einstellungen
  %dd
    Hier kannst Du alle Einstellungen zu Deinem Profil vornehmen. Vervollständige Dein Benutzerkonto, damit andere Biker sich ein besseres Bild von Dir machen können.

