- meta "Impressum"
- title "Impressum"

.wrapper
  %h1 Impressum

  %table.table.table-striped
    %tr
      %th Anschrift:
      %td
        %strong René F&uuml;rstenberg
        %br
        Rudolf-Reusch-Straße 23 d
        %br
        10367 Berlin

    %tr
      %th Ansprechpartner:
      %td
        = link_to "René Fürstenberg", user_path(id: 1)

    %tr
      %th Telefon:
      %td 0171 5253466
    %tr
      %th eMail:
      %td info (ät) motorradfreunde (Punkt) com

    %tr
      %th Gerichtsstand:
      %td 10367 Berlin

    %tr
      %th Ust-ID.:
      %td DE 290 942 078

    %tr
      %th Steuernummer:
      %td 32 297 00459
