- show_map

-# title "Einfach Motorrad fahren - für Motorradfreunde, Motorradfahrer und richtige Biker", nil, nil

=# render :partial => "layouts/slogan"

-# unless referer_is_facebook?
  -# content_for :red_content do
    =# render :partial => "user_sessions/form"

=# render :partial => "layouts/features"
=# render :partial => "layouts/faq"
