- meta "Allgemeine Geschäftsbedingungen"
- title "Allgemeine Geschäftsbedingungen"

.wrapper
  %h1 Allgemeine Geschäftsbedingungen

  %ol
    %li
      %h2 Allgemeines
      %p
        Motorradfreunde.com ermöglicht Teilnehmern kostenlos Informationen auszutauschen, andere Teilnehmer zu treffen und Touren zu planen.
        Um das Angebot von Motorradfreunde.com zu nutzen, müssen die nachfolgenden Allgemeinen Geschäftsbedingungen beachtet werden.
        Die Allgemeinen Geschäftsbedingungen gelten für jeden, der sich als Nutzer für die auf Motorradfreunde.com enthaltenen Angebote und Funktionen angemeldet hat.

    %li
      %h2 Grundlagen für die Teilnahme
      %p
        Jeder, der über eine funktionsfähige eMail-Adresse verfügt und das 16. Lebensjahr vollendet hat, kann die Angebote und Funktionen von Motorradfreunde.com nutzen.
        Die Nutzung der Funktionen ist nur durch Erstellung eines Benutzerkontos möglich.
        Motorradfreunde.com behält sich vor, Teilnehmer nach freiem Ermessen von der Teilnahme auszuschließen.


    %li
      %h2 Bestimmungen zu den Inhalten
      %ol
        %li
          Die Inhalte von Motorradfreunde.com wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte wird jedoch keine Gewähr übernommen.
          Als Diensteanbieter ist Motorradfreunde.com gemäß § 6 Abs.1 MDStV und § 8 Abs.1 TDG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich.
        %li
          Es besteht keine Prüfungs- und Überwachungspflicht von Motorradfreunde.com für die Beiträge der Teilnehmer und für die von den Teilnehmern gelieferten Inhalte.
        %li
          Der Teilnehmer darf keine Inhalte veröffentlichen die:
          Persönlichkeitsrechte, Urheberrechte und/oder Schutzrechte Dritter im In- und Ausland verletzen,
          als bedrohend, pornografisch, obszön, rassistisch, belästigend, rechtsradikal oder anstößig gelten und/oder
          zur Teilnahme an rechtswidrigen Handlungen aufrufen.
        %li
          Motorradfreunde.com behält sich vor, Teilnehmerbeiträge nach freiem Ermessen zu entfernen, insbesondere wenn sie gegen die Punkte 3.2. und 3.3. verstoßen.
          Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt.
          Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich.


    %li
      %h2 Urheberrecht
      %p
        Alle Inhalte auf Motorradfreunde.com sind für die Fürstenberg & Zengerling GbR urheberrechtlich geschützt,
        die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht.
        Beiträge Dritter sind als solche gekennzeichnet. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung
        außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.
        Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
        Die Betreiber der Seiten sind bemüht, stets die Urheberrechte anderer zu beachten bzw. auf selbst erstellte sowie lizenzfreie Werke zurückzugreifen.


    %li
      %h2 Haftung
      %ol
        %li
          Motorradfreunde.com übernimmt für die Beiträge der Teilnehmer keine Haftung.
          Der Teilnehmer haftet für die auf Motorradfreunde.com von Ihm zur Verfügung gestellten Inhalte und verpflichtet sich,
          dass diese nicht gegen die in Punkt 3 festgelegten Bestimmungen verstoßen.
        %li
          Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Motorradfreunde.com haftet nicht für diese Webseiten,
          auf die durch Verlinkung verwiesen wird und kann für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der
          jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft.
          Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete
          Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei bekannt werden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
          Motorradfreunde.com haftet nicht für Websites, auf die durch Verlinkung verwiesen wird. 


    %li
      %h2 Datenschutz
      %ol
        %li
          Soweit auf Motorradfreunde.com personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden,
          erfolgt dies soweit möglich stets auf freiwilliger Basis. Der Teilnehmer willigt durch die Anerkennung der Allgemeinen Geschäftsbedingungen ein,
          dass die von Ihm übermittelten Daten von der Fürstenberg & Zengerling GbR gespeichert werden, um den Nutzer den Zugang zu den Funktionen von Motorradfreunde.com zu ermöglichen.
          Diese personenbezogenen Daten werden nicht ohne explizites Einverständnis der Teilnehmer von Motorradfreunde.com an Dritte weitergegeben.
        %li
          Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung
          und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle
          der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.
