- meta "Herzlich Willkommen #{current_user}"
- title "Herzlich Willkommen #{current_user}"

%p
  %em Vielen Dank, dass Du Dich bei Motorradfreunde.com angemeldet hast.
  Motorradfreunde.com hilft Dir Termine, Reisen und Touren zu planen,
  egal ob Du gern auf der Rennstrecke, Autobahn, Landstraße oder in der Natur fährst.
  Du kannst Deine Motorradfreunde schnell per eMail einladen und direkt mit ihnen losfahren.

= render :partial => "pages/help"
